<div class="centered-content">
  <div class="modal-box">

    <h1 class="title">
      Créer une nouvelle tâche
      </h1>

      
        
      <input #inputTaskTitle class ="input has-background-light is-medium" type="text" placeholder="Nommer la nouvelle tâche">
        

      <div class = "buttons is-right">
        <button class ="button is-primary is-medium" (click)="createTask(inputTaskTitle.value)"> Créer </button>   
        <button class="button is-medium" routerLink="/"> Annuler </button>
           
      </div>
    
  </div>
</div>
